
.feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3vh;
}
.feature-title {
    font-weight: 1000;
}
.feature-text {
    padding-left: 4vw;
    padding-right: 5vw;
}
.feature-icon {
    height: 5vh;
}
.img-robot {
    height: 700px;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}