footer {
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-link {
    color: white;
    text-decoration: none;
    padding-right: 3vw;
}
.footer-icon {
    padding-right: 3vw;
    height: 2vh;
}
.shadow {
    filter: drop-shadow(3px 3px 7px rgba(34, 34, 34, 0.815));
}