footer {
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2px 2px 4px #222;
}
.footer-link {
    color: white;
    text-decoration: none;
    padding-right: 3vw;
}
.footer-icon {
    padding-right: 3vw;
    height: 2vh;
    filter: drop-shadow(5px 5px 5px #222);
}