.impressum-container {
    height: 60vh;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.in-txt-link {
    color: white;
    font-weight: 1000;
    text-decoration: none;
}
.impressum-width {
    width: 60vw;
}
.heading-impressum {
    margin-top: 14vh;
    font-size: 40px;
    line-height: auto;
    letter-spacing: -3.5%;
    white-space: nowrap;
}
