.impressum-container {
    height: 100vh;
    color: white;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.in-txt-link {
    color: white;
    font-weight: 1000;
}
.impressum-width {
    width: 60vw;
}
.heading-impressum {
    margin-top: 3vh;
}