.intro-container {
    margin-top: 30px;
    margin-bottom: 10px;
}
.btn-main-container {
    height: 12vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.btn-margin {
    margin-top: 10px;
}

 @media screen and (min-width: 1000px) {
     .intro-container {
         width: 534px;
         margin: 0px;
     }
    .btn-main-container {
        width: 534px;
        flex-direction: row;
        justify-content: space-between;
    }
    .btn-margin {
        margin-top: 0px;
    }
}