.intro-container {
    margin-top: 30px;
    margin-bottom: 10px;
}
.btn-main-container {
    height: 15vh;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 @media screen and (min-width: 1000px) {
     .intro-container {
         width: 534px;
         margin: 0px;
     }
    .btn-main-container {
        width: 534px;
        flex-direction: row;
    }
}