.nft-margin {
    margin-top: 40vh;
}
.img-nft {
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.btn-nft {
    width: 88vw;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    line-height: 16.9px;
    letter-spacing: 0.5%;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 8vh;
    margin-bottom: 1vh;
}