@media screen and (min-width: 1000px) {
	.nav-icon {
		padding-right: 3vw;
		height: 25px;
	}
	.nav-logo {
		height: 80px;
		padding-left: 7vw;
	}
	.title {
		font-weight: 400;
		font-size: 72px;
		line-height: 37px;
	}
	.subheading {
		font-weight: 600;
		font-size: 30px;
		line-height: 12px;
	}
	.text {
		font-size: 18px;
		line-height: 20.5px;
	}
	.btn {
		width: 260px;
		height: 43px;
		font-size: 18px;
		text-align: center;
	}
	.container {
		position: relative;
		margin: 0;
		padding: 0;
		width: 60vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-self: center;
		align-items: center;
		line-height: 18.5px;
	}
	.text {
		display: inline;
	}
	.bg-rocket {
		background-position: 50% 20%;
	}
	.heading-margin {
		margin-top: 20vh;
	}
	.img-robot {
		height: auto;
	}
	.intro-container {
		width: 534px;
		margin: 100px;
		margin-left: 8vw;
		z-index: 3;
	}
	.btn-main-container {
		width: 534px;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 60px;
	}
	.btn-margin {
		margin-top: 0px;
	}
	.img-overl-container {
		margin-top: 66vh;
	}
	.overlapping-hero-bg {
		margin-top: -25vh;
	}
	.img-astronaut {
		height: auto;
	}
	.img-nft {
		width: 47vw;
	}
	.btn-nft {
		width: 440px;
		height: 80px;
		padding: 0px;
		margin-bottom: 2vh;
	}
	.heading-impressum {
		padding-top: 13vw;
	}
	.rounded {
		width: 64%;
		margin-top: 105px;
	}
	.h1-desktop {
		font-size: 34px;
		line-height: 124.77%;
	}
	.h2-desktop {
		font-size: 24px;
		line-height: 102.77%;
	}
	.h4-desktop {
		font-size: 18px;
		line-height: 22px;
	}
	.li-desktop {
		/* width: 448px; */
		font-size: 18px;
		line-height: 170%;
	}
	.btn-mint {
		height: 80px;
		font-size: 36px;
	}
	.nft-big-img {
		width: 80vw;
	}
	.btn-mp {
		width: 300px;
	}
	.on-board {
		font-family: "Montserrat";
		font-style: normal;
		width: 463px;
		height: 80px;
		margin-bottom: 2vh;
		font-size: 18px;
		line-height: 25px;
		background-color: rgb(65, 65, 65);
		color: rgba(108, 239, 215, 1);
	}
	.on-board-img {
		padding-left: 13px;
		width: 60px;
	}
	.mint-info {
		width: calc(50% - 3vw);
		text-align: center;
		margin-bottom: 6vh;
	}
	.no-side-padding {
		padding: 0px;
	}
	.mint-container {
		width: calc(50% - 3vw);
	}
	.img-mint {
		width: 80vw;
	}
}

@media screen and (min-width: 1200px) {
	.mint-container {
		margin: 0px 3vw;
		width: 30%;
	}
	.img-mint-desktop {
		width: calc(50% + 6vw);
		display:flex;
		margin-top: 6vh;
	}
	.img-mint {
		display: none;
	}
}

@media screen 
and (min-width: 1200px) 
and (max-width: 1700px) {
	.h1-desktop {
		font-size: 28px;
		line-height: 124.77%;
	}
	.h2-desktop {
		font-size: 18px;
		line-height: 102.77%;
	}
	.h4-desktop {
		font-size: 12px;
		line-height: 22px;
	}
	.li-desktop {
		width: 100%;
		font-size: 16px;
		line-height: 170%;
		padding: 0px;
		margin: 0px;
	}
}

@media screen and (max-width: 1000px) {
	video,
	.line1,
	.line2,
	.line3 {
		display: none;
	}

	.bg-hero {
		height: 100vh;
		width: 100vw;
		background-image: url("../background/bg-hero.png");
		background-position: 65%;
		background-repeat: no-repeat;
	}
}
