.overlapping-hero {
    position:absolute;
    width: 100vw;
    margin-top: 10vh;
}
.overlapping-hero-bg {
    position:absolute;
    width: 100vw;
}
.img-overl-container {
    position: absolute;
    margin-top: 83vh;
}
.img-astronaut {
    height: 450px;
    object-fit: cover;
    object-position: center;
    /* width: 100vw;
    position: absolute;
	clip: rect(20px 300px 159px 28px);
	overflow: hidden;
    position: center;
    object-position: center; */
}

@media screen and (min-width: 1000px) {
    .img-overl-container {
        margin-top: 66vh;
    }
    .img-astronaut {
        height: auto;
    }
}