@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Montserrat:wght@500;700&display=swap");

.container {
	margin: 0;
	padding: 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
}
.img-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.text-container {
	margin-bottom: 2vh;
}
.side-padding {
	padding-left: 6vw;
	padding-right: 6vw;
}
.margin-top {
	margin-top: 2vh;
}
.title {
	font-family: "Audiowide";
	font-style: normal;
	font-weight: 400;
	font-size: 4.8em;
	line-height: 115%;
	display: flex;
	align-items: center;
	letter-spacing: 0.005em;
	text-transform: capitalize;
}
.heading {
	font-family: "Audiowide";
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 115%;
	display: flex;
	align-items: center;
	letter-spacing: 0.005em;
	text-transform: capitalize;
	margin-bottom: 1vh;
}
.heading-padding {
	padding-top: 25vh;
}
.text {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 1.4em;
	line-height: 102.8%;
}
.btn {
	width: 222px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	line-height: 16.9px;
	letter-spacing: 0.5%;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-self: center;
	z-index: 1;
}
.btn-style-orange {
	color: white;
	background-color: #f0a4504d;
	border: 1px solid #f0a450;
}
.btn-style-orange-solid {
	color: white;
	background-color: #f0a550;
	border: 1px solid #f0a450;
}
.btn-style-blue-light {
	color: white;
	background-color: #4c6e9d4d;
	border: 1px solid #4c6e9d;
}
.btn-style-blue-solid {
	color: white;
	background-color: #4c6e9d;
	border: 1px solid #4c6e9d;
}
.link {
	color: white;
	text-decoration: none;
}

.bg-rocket {
	background-image: url("../background/footer-bg.jpg");
	background-size: cover;
	background-position: 82% 90px;
	background-repeat: no-repeat;
	padding: 0px 6vw;
}
video {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.zoom {
	transition: transform 0.1s;
}
.zoom:hover {
	transform: scale(1.1);
}
